<%- include('includes/head.ejs', { title: 'Not Found!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Not Found!</h1>
    <p>Page you requested does not Found</p>
  </main>
</body>
</html>