<%- include('includes/head.ejs', { title: 'View & Edit Blog Post' }) %>
<link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <%- include('includes/post-form', { 
      // now since we update the data the post._id will not receive data, but post.id as given in the post model route.
      submitUrl: '/posts/' + post.id + '/edit', 
      hasError: inputData.hasError, 
      errorMessage: inputData.message, 
      title: inputData.title, 
      content: inputData.content }) 
    %>
  </main>
</body>
</html>